.fixed {
    padding: 10px;
    background-color: rgb(23, 218, 140);
    position: fixed;
    top: 40%;
    right: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    z-index: 9;
    text-align: center;
}
.img-reqire {
    height: 600px;
}
.mini_header{
    /* background-color: #42b979; */
    height: 25%;
    position: absolute !important;
    top: -50px;
    bottom: 0px;
    width: 100%;
    left: 0px;
    z-index: 1;

}
.MH {
    border: 5px solid;
    border-image: linear-gradient(45deg, #42b979, #ffffff) 1;
}
.fixed a,
.fixed i {
    display: block;
    text-decoration: none;
    padding: 4px 0px;
    transition: 0.5s !important;
    font: 13px;
} 
.fixed a,
.fixed i :hover{
    transform: scale(1.3);
}
.fixed a:hover {
    transform: scale(1.5) !important;
}

.fixed i {
    font-size: 18px;
    color: #ffffff;
    margin-top: 0;
}

.select2-container .select2-selection--single {
    height: 50px !important;
    border: 1px solid #42b979;
}

.pagination {
    margin-top: 20px;
}

.pagination li {
    display: inline-block;
    margin-right: 5px;
}

.pagination li a,
.pagination li span {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    text-decoration: none;
}

.pagination li.active span {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination li.disabled span {
    color: #ccc;
    border-color: #ccc;
}

.pagination li a:hover {
    background-color: #ddd;
}

.notify:active {
    border: none !important;
    border-color: none !important;
}

/* .form-control{
    width: auto !important;
} */
/* .select2-container{
    width: 100% !important;
 } */


.rounded {
    & select {
        padding: 8px !important;
    }
}
.navbar-toggler:focus{
    box-shadow: unset;
}
.header-ul {
    margin-top: -9px;
    padding-left: 1rem;
    & li {
        display: inline-block;
    }

    .header-phone-number {
        padding-bottom: 0 !important;
    }
}

.country-row {
    padding: 16px;
}

.select2-container {
    width: 200px;

}

    [dir="rtl"] .AB-footer  {
        text-align: justify;
    }

    [dir="rtl"] .ad-footer  {
        text-align: justify;
    }
.AB{
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) {

    /* .select2-container {
    width: 150px !important;
} */
    .adjust-filters-wrap {
        display: flex;
    }
    .mini_header {
        position: relative !important;
        /* top: -50px;
        bottom: 0px;
        width: 100%;
        left: 0px;
        z-index: 1; */
    }
}
.im-heading h2{
    color: #42b979;
    border-bottom: 1px solid #42b979;
    width: 22%;
    margin: 10px auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}
@media (min-width: 290px) and (max-width: 320px) {
    .mini_header {
        position: relative !important;
        /* top: -50px;
        bottom: 0px;
        width: 100%;
        left: 0px;
        z-index: 1; */
    }
    /* .select2-container {
   max-width: 255px !important;
} */
.AB-button{
    margin: 0 auto;
    display: flex;
}
    .navbar-brand {
        img {
            max-height: 32px !important;
        }
    }
    .ae-heading h2{
        display: flex;
        justify-content: center;
        width: 100% !important;
        white-space: nowrap;
    }
    .im-heading h2{
        display: flex;
        justify-content: center;
        width: 100% !important;
        white-space: nowrap;
    }
    .ai-heading-div h2{
        display: flex;
        justify-content: center;
        width: 100% !important;
        white-space: nowrap;
    }
    .ad-headin-div h2{
        display: flex;
        justify-content: center;
        width: 100% !important;
        white-space: nowrap;
    }
   
    .Ab-heading{
        font-size: 13px !important;
    }
    .navbar-toggler {

        /* padding: 0 6px !important; */
        .navbar-toggler-icon {
            width: 1rem;
        }
    }

    .navbar {
        .container-fluid {
            padding: 0 !important;
        }
    }

    .adjust-filters-wrap {
        padding-top: 10px !important;
    }
}

@media (max-width: 376px) {

    /* .select2-container {
   max-width: 310px !important;
} */
    .navbar-brand {
        img {
            max-height: 40px !important;
        }
    }

    .navbar-toggler {
        padding: 0 6px !important;

        .navbar-toggler-icon {
            width: 1rem;
        }
    }

    .adjust-filters-wrap {
        padding-top: 10px !important;
    }
}

@media (min-width: 377px) and (max-width: 426px) {

    /* .select2-container {
   max-width: 360px !important;
} */
    .adjust-filters-wrap {
        padding-top: 10px !important;
    }
   
}

@media (min-width: 427px) and (max-width: 769px) {
    .adjust-filters-wrap {
        padding-top: 10px !important;
    }
}

@media (min-width: 768px) {
    
}

@media (max-width: 767px) {
   

    .adjust-filters-wrap {
        display: flex;
        
    }

}

@media (max-width: 409px) {
    .navbar-brand {
        img {
            max-height: 38px !important;
        }
    }

    .navbar-toggler {
        padding: 0 6px !important;

        .navbar-toggler-icon {
            width: 1rem;
        }
    }

    .header-phone-number {
        display: block;
    }

}

@media (max-width: 1440px) {
    .select2-container {
        width: 100% ;

    }
    .inquiry-select .select2-container { 
        width: 30% !important;
     }
}

/* @media (min-width: 991px) {
.navbar-nav{
    & li{
        display: inline-block !important;
width: 100%;
    }
}
} */
 #countrySelect{
    width: 29% !important;
 }
 .country-row .select2-container { 
    width: 90%;
 }
@media (min-width:1441px) and (max-width: 2060px) {
    .select2-container {
        width: 30%;

    }
    .country-row .select2-container { 
        width: 90% !important;
     }
     .inquiry-select .select2-container { 
        width: 30% !important;
     }
}

@media (max-width: 991px) {

    .countries-div {
        text-align: center;
    }

    #select2-country-container {
        text-align: left;
    }

    .image-wrapper {
        width: 80% !important;
        height: 80% !important;
        margin: 0 auto !important;
    }
}
.adjust-header-mobile{
    display: none;
}
@media (min-width:320px) and (max-width: 991px) {
    .adjust-header-mobile{
        display: block;
    }
    .header-ul:has(#toggle:checked){
        display: block;
    }
    .adjust-filters-wrap {
        padding-top: 10px !important;
        margin: 0 auto;
    }
    .header-ul li label{
        display: block;
        color: #fff;
        font-size: 20px;
    }
    .header-ul{
        display: flex !important;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    #customers-testimonials .shadow-effect p{
        font-size: 11px !important;
    }
    .hiring-button, .icons{
        display: none !important;
    }
    }
    .row {
        width: 100%;
    }

    .country-drop-down {
        text-align: center;
    }

    .country-row {
        padding: 10px 10px 10px 30px !important;
    }

@media (min-width:425px) and (max-width: 768px) {
    .nav-item-row {
        padding-left: 15px !important;
    }

}
@media(max-width: 768px){
    .AB-footer{
        text-align: justify;
    }
    .foucs{
        width: 40px !important;
       height: 24px !important;
    }
    .ad-footer {
        text-align: justify;
    }
    .ae-detail h4{
        width: 125px !important;
        font-size: 14px !important;
        margin: 0 -4px;
    }
    .ad-div span b{
        font-size: 10px !important;
        margin: 0 -12px !important;

    }
    .custom-select{
        margin-right: 19px;
    }
}
    .md-div  span b{
        color: #42b979;
        font-size: 15px;
        margin: 0 -7px;
        white-space: nowrap;
    }
@media (max-width: 425px) {
    .ai-image-div img {
        height: auto;
    }
    .md-div{
        display: block !important ;
    }
    .AB-heading{
        font-size: 12px;
    }
    .img-reqire{
        height: auto;
        order: 1;
    }
    .AI{
        text-align: justify;
    }
    .AE{
        flex-direction: column;
    }
    .im-div{
        width: 100%;
    }
    .ae-detail{
        display: flex;
        justify-content: center;
    }
    .ad-div span b{
        display: flex;
        justify-content: center;
    }
    .im-img img {
        width: 100%;
        height: auto !important;
    }
    .im-heading-div h1{
        font-size: 18px !important;
    }
    .AH{
        font-size: 15px !important;
    }
    .ad-div-child {
        width: 100%;
    }
    .ai-nav{
        display: block !important;
    }
    .nav-link {
        text-align: left;
        color: #42b979;
        font-size: 18px;
    }
    [dir="rtl"] .nav-link  {
        text-align: right !important;
    }
    [dir="rtl"] .btn-close {
        width: 100%;
        margin-left: -35%;
    }
    .email-container{
        display: flex !important;
        align-items: center;
    }
    .phone-number-header {
        display: block !important;
        position: static;
        background: transparent;
        box-shadow: 0 0 0 0;
        font-size: 18px;
    }
    .email{
        display: block !important;
        position: static;
        background: transparent;
        box-shadow: 0 0 0 0;
        font-size: 18px;
    }
    #language-select{
        position: absolute;
        left: -25px;
        border: 1px solid #42b979 !important;
        color: #42b979 !important;
        background: transparent;
        box-shadow: 0 0 0 0;
        font-size: 12px;
    }
    .card-body h6{
        font-size: 15px !important;
    }
    .ad-footer{
        text-align: justify;
    }
    .AB-footer{
        text-align: justify;
    }
    .aa{
        margin-top: 0 !important;
        font-size: 22px;
        color: #42b979 !important;
    }
    .AB{
       display: flex;
       justify-content: center;
       margin: 10px 0;
    }
    .banner-section{
        height: 22vh !important;
    }
    .ad-form{
        flex-direction: column;
    }
    .ad-div span b{
        margin: 0 27px !important;
    }
    .ad-img-card{
        width: 100% !important;
    }
    .ad-div{
        width: 100%;
        margin: 0 17px;
        display: none;
    }
    .ae-div{
        flex-direction: column;
        white-space: nowrap;
        font-size: 14px;
    }
    .im{
        flex-direction: column;
    }
    .ai-image-div img {
        width:100% !important;
        height: auto !important;
    }
    .AI-button{
        margin: 0 auto;
        display: flex;
    }
    .img-reqire {
        width: 100%;
        height: auto;
        overflow: hidden;
        
    }
    .Ai{
        width: 100%;
        order: 2;
    }
    
    .mx-detail{
        flex-direction: column;
    }
    .mx-detail p{
        width: auto !important;
        text-align: center;
    }
    .zwc-testimonial-video{
        margin-left: 65px !important;
    }
    .ed-div{
        margin-top: 20px !important;
        text-align: center;
    }
    .mx-button button{
        width: auto !important;
    margin-bottom: 10px;
    }
    .mx-div h3{
        font-size: 19px !important;
    }
}
.banner-section {
    position: relative;
    width: 100%;
    height: 75vh; /* Adjust the height as needed */
    overflow: hidden; /* Hide overflow if video is larger than container */
}

.banner-section video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure the video is behind other content */
}
.banner-content {
    position: relative; /* Positioned above the video */
    z-index: 1;
    color: white; /* Adjust text color if needed */
    text-align: center;
    padding: 20px
}
/* Style the select dropdown */
#language-select {
    appearance: none;
    /* Remove default styling */
    -webkit-appearance: none;
    /* For Safari */
    -moz-appearance: none;
    /* For Firefox */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    color: #333;
    width: 68px;
    max-width: 200px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Style the options */
#language-select option {
    background-color: #fff;
    color: #333;
    padding: 10px;
}

/* Change the border and box-shadow on focus */
#language-select:focus {
    border-color: #42b979;
    box-shadow: 0 0 5px rgba(66, 185, 121, 0.5);
}

.hiring-button {
    padding: 5px;
    border-radius: 3px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border: 1px solid #fff;
    cursor: pointer;
}

.color-div {
    height: 6px !important;
    width: 50px !important;
    background-color: red;
}

.color-main-div {
    display: flex;
    justify-content: center;
    padding: 4px 0;
}

.hading h1 {
    font-size: 35px;
    color: #454545;
    text-align: center;
    font-weight: 600;
}

.hading h3 {
    color: #454545;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    margin-top: 20px;
}

.hadding {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 12px;
}

.hadding h3 {
    color: #42b979;
    font-size: 30px;
}

.hadding h4 {
    font-size: 35px;
    color: #454545;
}

.deatil {
    margin: 17px 10px;
}

.teacher-main-parent:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 2px 5px #ddd;
}

.teacher-main-parent {
    height: 210px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px;
    transition: 0.5s;
    overflow: hidden;
}

/* .row{
display: flex;
justify-content: space-evenly;
align-items: center;
} */
.teacher-card-wrapper {
    border: none;
    border-radius: 5px;
}

.deatil h3 {
    font-size: 25px;
    color: #42b979;
    font-weight: 500;
}

.deatil p {
    font-size: 12px;
    color: #454545;
}

.img-teacher {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-card {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 49px;
    left: 0;
    right: -12px;
}

.img-card img {
    width: 45%;
}
.job-card{
    width:21%; 
    height: 175px; 
    margin:10px 0;   
}
.job-card h5{
    text-align:center; 
    margin: auto;
}
.job-alert {
    color: #42b979;
}

/* job section  */

.section_our_solution .row {
    align-items: center;
  }
  
  .our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .our_solution_category .solution_cards_box {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
  }
  .solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover {
    background: #42b979;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
  }
  
  .solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
  }
  
  .solution_cards_box .solution_card:hover .solu_title h3,
  .solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
  }
  
  .solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
  }
  
  .solution_cards_box .solution_card:hover .solu_description button {
    background: #fff !important;
    color: #309df0;
  }

  .solution_card .solu_title h3 {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  .solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    background: #42b979;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
  }
  
  .our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  
  
  .hover_color_bubble {
    position: absolute;
    background: #42b979;
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
  }
  
  .solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
  }
  
  /*start media query*/
  @media screen and (min-width: 320px) {
    .sol_card_top_3 {
      position: relative;
      top: 0;
    }
  
    .our_solution_category {
      width: 100%;
      /* margin: 0 auto; */
    }
  
    .our_solution_category .solution_cards_box {
      flex: auto;
    }
  }
  /* @media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
      flex: 1;
    }
  } */
  @media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
      position: relative;
      top: 0rem;
    }
    .our_solution_category {
      width: 100%;
      /* margin: 0 auto; */
    }
  }
  .solution_cards_box a{
    text-decoration: none;
    color: #000;
    width: 100%;
  }
  .ai-heading h3 {
    margin: 20px 0px;
    color: #42b979;
    text-align: center;
  }
  .ai-heading p {
    color: #3a4c5a;
    text-align: center;
  }
  .pagination{
    justify-content: center;
  }
  .ad-form{
    border: 3px solid rgb(25 135 84);
    border-radius: 5px;
    display: flex;
    margin: 10px 0;
    border-image: linear-gradient(45deg, #42b979, #f5f5f5) 1;
}
.ad-detail{
    padding: 5px 0;
}
.ad-img-card{
    width: 25%;
    padding: 10px;
    text-align: center;
}
.ad-icons{
    color: #42b979;
    font-size: 14px;
}
.ad-icons p i{
    font-size: 1.1rem;
}
.ad-button{
    padding: 10px 0;
}
.ad-button button{
    width: 100%;
    background: #42b979;
    color: #fff;
    border: none;
    padding: 7px;
    border-radius: 5px;
}
.ad-detail span{
    display: block;
}
.ad-detail span strong{
    margin: 0 10px;
    color: #42b979;
}
.ad-detail span i{
    font-size: 14px;
    padding: 0 5px;
    color: #42b979;
}

.red-dot {
    width: 15px;
    height: 15px;
    background-color: #ff0000; /* Red color */
    border-radius: 50%; /* Makes it a circle */
    position: absolute;
    top: 15px;
    right: 111px;
}

/* Blinking animation */
.red-dot {
    -webkit-animation: blink 1s ease infinite;
    -moz-animation: blink 1s ease infinite;
    -ms-animation: blink 1s ease infinite;
    -o-animation: blink 1s ease infinite;
    animation: blink 1s ease infinite;
}

/* Keyframes for the blink animation */
@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.form-control{
    height: 50px;
}
.ai-heading-div h2{
    color: #42b979;
    border-bottom: 1px solid #42b979;
    width: 22%;
    margin: 10px auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}
.card-title{
    color: #42b979;
}
.ad-heading-div h2{
    color: #42b979;
    font-weight: 600;
}

.carousel {
	margin: 50px auto;
}
.carousel .carousel-item {
	color: #999;
	overflow: hidden;
    min-height: 120px;
	font-size: 13px;
}
.carousel .media {
	position: relative;
	padding: 0 0 0 20px;
	margin-left: 20px;
}
.carousel .media img {
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 2px solid #fff;
}
.carousel .testimonial {
    color: #fff;
    position: relative;    
    background: #42b979;
	padding: 15px;
	margin: 0 0 20px 0px;
}
.carousel .testimonial::before, .carousel .testimonial::after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -20px;
}
.carousel .testimonial::before {
    width: 20px;
    height: 20px;
	background: #9b9b9b;
	box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.carousel .testimonial::after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.carousel .carousel-item .row > div:first-child .testimonial {
	margin: 0 20px 20px 0;
}
.carousel .carousel-item .row > div:first-child .media {
	margin-left: 0;
}
.carousel .testimonial p {
	text-indent: 40px;
    line-height: 21px;
	margin: 0;
}
.carousel .testimonial p::before {
	content: "\201D";
  	font-family: Arial,sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 68px;
    line-height: 70px;
    position: absolute;
    left: -25px;
    top: 0;
}
.carousel .overview {
	padding: 3px 0 0 15px;
}
.carousel .overview .details {
	padding: 5px 0 8px;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #42b979;
}
.carousel-control-prev, .carousel-control-next {
	width: 30px;
	height: 30px;
    background: #42b979;
    text-shadow: none;
	top: -40px;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 16px;
}
.carousel-control-prev {
	left: auto;
	right: 40px;
}
.carousel-control-next {
	left: auto;
}
.carousel-indicators {
	bottom: -80px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 17px;
    height: 17px;
	border-radius: 0;
	margin: 1px 5px;
  	box-sizing: border-box;
}
.carousel-indicators li {	
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
    background: #ff5555;
    border: 5px double;    
}
.star-rating li {
	padding: 0 2px;
}
.star-rating i {
	font-size: 14px;
	color: #ffdc12;
}
.carousel-wrapper{
    border: 1px solid #42b979;
}
.rousel-item .active{
    border-left: 1px solid #42b979;
}
footer{
    background-color: #42b979;
}
.ad-footer{
    transition: 0.5s; 
    width: 57%;
    
}
.ad-footer:hover{
    transform: scale(1.3);
    margin-left: 25px;
    cursor: pointer;
}
.animated-icons {
    font-size: 50px;
    color: #42b979;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  .img-reqire{
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 17px;
    padding: 0;
    
  }
  .ai-image-div img{
    width: 100%;
    height: 100%;
  }
  .im-heading h2{
    text-align: center;
    color: #42b979;
    font-weight: 700;
  }
  .im-heading-div h1{
    font-size: 3.5rem ;
  }
  .im-div{
    border: 1px solid #ddd;
    padding-left: 0;
  }
 
  .im-img img{
    width: 100%;
    height: 615px;
  }
  .ad-div-child{
    background-color: #42b979;
  }
  .im-detail ul{
    transition: 0.5s;
  }
  .im-detail ul li:hover{
    cursor: pointer;
    transform: scale(0.9);
    /* margin-left: 25px; */
 }
 .im-button button{
    width: 38%;
    border-radius: 11px;
    color: #42b979;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .im-button button:hover{
    background-color: #fff;
    color: #42b979;
 }
 .ae-heading h2{
    color: #42b979;
    border-bottom:1px solid #42b979; 
    width: 18%;    
    margin: 25px auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
 }
 .ad-headin-div h2{
    border-bottom:1px solid #42b979; 
    width: 18%;
    white-space: nowrap;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    /* margin-top: 30px; */
 }
 .ae-detail h4{
    border: 1px solid #42b979;
    border-radius: 5px;
    color: #43b979;
    width: 91%;
    padding: 8px 0;
    text-align: center;
    white-space: nowrap;
 } 
 .ad-div span b{
    color: #42b979;
    font-size: 14px;
    margin: 0 -7px;
    white-space: nowrap;
 }
 .ad-border-div{
    background:#f4f4f6; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #42b979;
    align-items: center;
 }
 .tutors-range{
    color: #42b979;
 }
 .ad-border{
    background:#f4f4f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }
 .ad-btn{
    border: 1px solid #42b979;
    padding: 3px;
    color: #42b979;
    border-radius: 5px;
 }

 .ad-icons p{
    margin-top: 10px;
    color: #42b979;
 }
 #toggle, .header-ul  label{
    display: none;
 }
 .shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    color: #42b979;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}
.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #42b979;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
    text-align: center;
    padding: 50px 4px;
        margin-bottom:80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #42b979;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #42b979;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}
.ad-heading-div{
    border-bottom: 1px solid #42b979;
    width: 22%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.Ab-img img{
    width: 70%;
   
}
.Ab-img{
    display: flex;
    justify-content: center;
}
.mx-heading-div{
    display: flex;
    justify-content: center;
}
.mx-heading-div h2{
    text-align: center;
    color: #42b979;
    font-weight: 700;
    border-bottom: 1px solid #42b979;
    white-space: nowrap;
}
.mx-cont{
    background: linear-gradient(to right, #42b979, #d7d7d7);
}
.mx-detail{
    display: flex;
    justify-content: end;
}
.ed-div{
    margin-top: 6rem;
}
.mx-detail p{
    color: #fff;
    width: 53%;
    margin-right:9%;
}
.mx-button button{
    background: #42b979;
    color: #fff;
    width: 35%;
    margin-top: 15px;
    transition: 0.5s;
}
.zwc-testimonial-video img{
    width: 55%;
    border-radius: 70%;
}
.mx-button button:hover{
    background-color: #fff;
    color: #42b979;
    transform: scale(1.1);
}
.zwc-testimonial-video{
    text-align: center;
    cursor: pointer;
    width: 130px;
    margin-left: -50%;
}
.zwc-testimonial-video span{
    display: flex;
    font-size: 14px;
    justify-content: center;
    letter-spacing: -0.2px;
    color: #fff;
    align-items: center;
}
[dir="rtl"] .mx-detail p {
    margin-left: -3%;
}
[dir="rtl"] .zwc-testimonial-video{
    margin-left: 114px;
}