.whatsApp_button_Warpper12 {
    max-width: 300px;
    position: fixed;
    bottom: 4px;
    right: 30px;
    z-index: 1;
  }

  #toggleWhatsAppChat {
    display: none;
  }

  .whatsApp_button_Warpper12:has(#toggleWhatsAppChat:checked)
    .whatsAppMsgBox12 {
    display: block;
  }

  .whatsAppMsgBox12 {
    box-shadow: 0 0 3px 0px #ddd;
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    display: none;
  }

  .WhatsApp_Msg_Box_header {
    background-color: #085e53;
    display: flex;
    align-items: center;
  }

  .WhatsApp_Msg_Box_header img {
   width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    background-color: #fff;
    object-fit: contain;
    padding: 7px;
  }
.WhatsApp_Msg_Box_header .information{
  line-height: 1.1rem;
}
  .WhatsApp_Msg_Box_header .information h4 {
    color: #fff;
	margin: 0;
  }

  .WhatsApp_Msg_Box_header .information p {
    color: #ffffffdd;
    font-size: 0.9rem;
    padding: 0 3px;
	margin: 0;
  }

  .WhatsApp_Msg_Aria {
    background-color: #fff;
    background-image: url(../images/whatsapp_bg.jpg);
    background-size: cover;
    height: 250px;
    position: relative;
  }

  .WhatsApp_button_Msg p {
    padding: 10px;
    background-color: #fff;
    margin: 20px;
    display: inline-block;
    border-radius: 3px;
  }

  .WhatsApp_button_Msg p::before {
    content: "";
    display: block;
    position: relative;
    left: -25px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-bottom-color: #fff;
    transform: rotate(270deg);
  }

  .WhatsApp_Msg_Aria .startChat_wrapper {
    width: 100%;
    background: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .WhatsApp_Msg_Aria .startChat_wrapper .start_chat {
    border-radius: 25px;
    font-size: 1.1rem;
    border: none;
    background-color: #25c656;
    color: #fff;
    margin: 0 auto;
    height: 30px;
    width: 240px;
    display: flex;
    cursor: pointer;
    column-gap: 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Toggle_WhatsApp_Button_Wrapper {
    display: flex;
    justify-content: end;
    padding: 10px 0;
  }

  .Toggle_WhatApp_Chat_Box {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #0cc243;
    font-size: 2rem;
    position: relative;
  }

  .Toggle_WhatsApp_Button_Wrapper .Toggle_WhatApp_Chat_Box label {
    margin: 0;
    line-height: 0;
    cursor: pointer;
  }

  .Toggle_WhatApp_Chat_Box::after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 3px;
    right: 3px;
  }